$font: "Source Code Pro", "Courier New", monospace;
@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inconsolata&display=swap);

//Colors
$light-grey: #A0A1A3;
$not-quite-white: #F3F5F3;
$not-quite-black: #111111;
$shadow-placeholder: rgba(0, 0, 0, 0);
$shadow-light: rgba(0, 0, 0, 0.13);
$shadow-dark: rgba(0, 0, 0, 0.56);
$shadow-placeholder: rgba(0, 0, 0, 0);

html, body {
    height: max-content;
    font-family: 'Source Code Pro';
    font-size: 20px;
    padding: 0px;
    margin: 0;
    scroll-behavior: smooth;
    background-color: $not-quite-white;
    color: $not-quite-black;
}

::-webkit-scrollbar {
    display: block;
    width: 10px;
    height: 10px;
    background-color: $not-quite-white;
}

::-webkit-scrollbar-thumb {
    background-color: $light-grey;
    border-radius: 10px;
}

//navigation menu
.page__menu {
    position: fixed;
    width: 18rem;
    max-width: none;
    height: 100%;
    box-shadow: 10px 10px 25px $shadow-light;
    overflow: scroll;
    z-index: 1000;

    @media (max-width: 1024px) {
        width: 100%;
        height: fit-content;

        display: flex;
        justify-content: space-between;
        background-color: $not-quite-white;

        overflow: hidden;
    }
    .page__menu__content {
        padding-left: 12%;
        padding-right: 12%;
        font-size: 16px;
        line-height: 40px;
        position: absolute;
        display: flex;
        flex-direction: column;
        border-left: 1px solid $shadow-light;
        // white-space: nowrap;
        .page__menu__component {
            a {
                padding: 5px;
                text-decoration: none;
                color: $shadow-dark;
                border-right: 2px solid $shadow-placeholder;
                border-bottom: 2px solid $shadow-placeholder;
                transition: 0.5s;
                transition-timing-function: ease-out;
            }
            .article__menu__active {
                transition: 0.2s;
                color: $not-quite-black;
                text-decoration: underline;
            }
            padding-bottom: 25px;
            &:last-child {
                padding-bottom: 0;
            }

            @media (max-width: 1024px) {
                width: 80%;
                margin-left: auto;
                margin-top: 50px;
                margin-right: auto;
            }
        }
        ul {
            list-style-type: none;
            padding-left: 0px;
        }
        li {
            padding-left: 20px;
            border-left: 1px solid $shadow-light;
            box-shadow: 0 0 0 0 $shadow-placeholder;
            transition: 0.2s ease;
        }
        li:hover {
            border-left: 1px solid $shadow-dark;
            @media (min-width: 1025px) {
                box-shadow: 0px 0px 45px 1px $shadow-light;
            }
        }
        &:last-child {
            padding-bottom: 50px;
        }
    }
}

.card__menu__component {
    a {
        width: 100%;
        padding: 5px;
        text-decoration: none;
        color: $not-quite-black;
        border-right: 2px solid $shadow-placeholder;
        border-bottom: 2px solid $shadow-placeholder;
        transition: 0.5s;
        transition-timing-function: ease-out;
    }
    a:hover {
        text-decoration: underline;
    }
    .article__menu__active {
        transition: 0.2s;
        padding: 5px;
        border-bottom: 2px solid $not-quite-black;
        border-right: 2px solid $not-quite-black;
        box-shadow: 5px 5px 25px $shadow-light;
    }
    .article__menu__active:hover {
        transition: 0.2s;
        padding: 5px;
        border-bottom: 2px solid $not-quite-black;
        border-right: 2px solid $not-quite-black;
    }
    padding-bottom: 25px;
    &:last-child {
        padding-bottom: 0;
    }
}



//article content
.page__wrapper {
    position: relative;
    .logo {
        padding-left: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        height: fit-content;
        @media (max-width: 768px) {
            margin-left: 4%;
            padding-top: 30px;
            padding-bottom: 30px; 
        }
    }
    .page__content {
        padding-left: 22rem;
        padding-top: 3rem;
        padding-right: 4rem;
        padding-bottom: 5rem;

        word-break: break-all;
        
        @media (max-width: 1024px) {
            padding-left: 1rem;
            padding-top: 4rem;
            padding-right: 1rem;
            padding-bottom: 4rem;
        }
        .article__parse__string {
            h1 {
                padding-top: 50px;
            }
            h2, h3, h4, h5, h6 {
                padding-top: 50px;
            }
            p {
                
                line-height: 30px;
            }
            
            a {
                color: $not-quite-black;
            }
        }
    }
}

hr {
    width: 100%;
    opacity: 30%;
}

img {
    width: 100%;
    object-fit: contain;
    height: auto;
}

.logo__trigger {
    display: block;
    width: 48px;
    height: 48px;

    transition: 0.1s ease-out;
    
    position: absolute;
    top: 1rem;
    right: 1rem;

    @media (min-width: 1025px) {
        display: none;
    }
}

.trigger__active {
    width: 48px;
    height: 48px;

    position: absolute;
    top: 1rem;
    right: 1rem;
}

.page__menu__active {
    position: fixed;
    width: 18rem;
    max-width: none;
    height: 100%;
    box-shadow: 10px 10px 25px $shadow-light;
    overflow: scroll;

    z-index: 1000;

    @media (max-width: 1024px) {
        background-color: $not-quite-white;

        width: 100%;
        height: 100vh;

        font-size: 16px;
    }
    .page__menu__content {
        padding-left: 12%;
        padding-right: 12%;
        font-size: 16px;
        line-height: 40px;
        position: absolute;
        display: flex;
        flex-direction: column;
        border-left: 1px solid $shadow-light;
        // white-space: nowrap;
        .page__menu__component {
            a {
                padding: 5px;
                text-decoration: none;
                color: $shadow-dark;
                border-right: 2px solid $shadow-placeholder;
                border-bottom: 2px solid $shadow-placeholder;
                transition: 0.5s;
                transition-timing-function: ease-out;
            }
            .article__menu__active {
                transition: 0.2s;
                color: $not-quite-black;
                text-decoration: underline;
            }
            padding-bottom: 25px;
            &:last-child {
                padding-bottom: 0;
            }

            @media (max-width: 1024px) {
                width: 80%;
                margin-left: auto;
                margin-top: 50px;
                margin-right: auto;
            }
        }
        ul {
            list-style-type: none;
            padding-left: 0px;
        }
        li {
            padding-left: 20px;
            border-left: 1px solid $shadow-light;
            box-shadow: 0 0 0 0 $shadow-placeholder;
            transition: 0.2s ease;
        }
        li:hover {
            @media (min-width: 1025px) {
                box-shadow: 0px 0px 45px 1px $shadow-light;
            }
        }
        &:last-child {
            padding-bottom: 50px;
        }
    }
    .page__content {
        padding-left: 25rem;
        padding-top: 3rem;
        padding-right: 5rem;
        padding-bottom: 5rem;
        
        word-break: break-all;

        .article__parse__string {
            h1 {
                padding-top: 50px;
            }
            h2, h3, h4, h5, h6 {
                padding-top: 50px;
            }
            p {
                
                line-height: 30px;
            }
            
            a {
                color: $not-quite-black;
            }
        }
    }
}

hr {
    width: 100%;
    opacity: 30%;
}

.article__link {
    color: $not-quite-black;
}

.page__menu__jump {
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 0;

    margin-right: 15px;
    a {
        padding: 0.2em 1em;

        border-bottom: 2px solid #000;
        border-right: 2px solid #000;
        box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.13);
        color: #111;
        display: block;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        text-decoration: none;
        transition: .4s;
        transition-timing-function: ease-out;

        background-color: $not-quite-white;
    }

    a:hover {
        box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.56);
    }
}